<div class="order-widget">
    <div class="order-stencil">
        <img [src]="orderStencilImage.url" [alt]="orderStencilImage.description" />
    </div>
    <div id="{{ LandingMenu.Order }}" class="order-form-container">
        <div class="section">
            <h4>
                ‒ Be the First to get It
            </h4>
            <h2>
                How to order a
                <br />
                &nbsp;
                <span class="swag">
                    mobile Stencil?
                    <span class="swag-background"></span>
                </span>
            </h2>
            <p class="description">
                Please fill in this form and we will contact you as soon as we get a new bunch of stencils.
            </p>
            <br />
        </div>
        <div class="form-container">
            <div class="column-section">
            </div>
            <div class="frame-column">
                <ng-container *ngIf="inBrowser">
                    <iframe class="google-form-frame" loading="lazy" src="https://docs.google.com/forms/d/e/1FAIpQLSeIyRi8o68ROJtK6xB-1bq6taeiUGKKGfEHQ3yAYajVdVixOA/viewform?embedded=true&hl=en" (load)="formLoaded()" frameborder="0" marginheight="0" marginwidth="0">
                        Loading…
                    </iframe>
                </ng-container>
            </div>
        </div>
    </div>
</div>