.menu-component {
    display: flex;
    line-height: 3em;
    flex-flow: column;
    align-items: flex-start;

    &.horizontal {
        @include desktop-or-landscape {
            justify-content: space-between;
            align-items: center;
            flex-flow: row;
        }
    }

    .menu-item {
        white-space: nowrap;
        padding-right: 1em;
    }
}
