@import "../../variables.scss";

.circle-icon {
    font-size: 17px;
    width: 2.5em;
    height: 2.5em;
    min-width: 2.5em;
    min-height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    text-decoration: none;

    background-color: $activeColor;
    color: white;

    &.inverse {
        border: solid 1px $activeColor;
        background-color: transparent;
        color: $activeColor;
    }
}
