<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>{{ labels.address }}</mat-label>
        <input matInput name="{{ namePrefix }}.address" type="text" formControlName="address" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{ labels.address2 }}</mat-label>
        <input matInput name="{{ namePrefix }}.address2" type="text" formControlName="address2" />
    </mat-form-field>
    <div class="two-controls">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>{{ labels.city }}</mat-label>
                <input matInput name="{{ namePrefix }}.city" type="text" formControlName="city" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>{{ labels.state }}</mat-label>
                <input matInput name="{{ namePrefix }}.state" type="text" formControlName="state" />
            </mat-form-field>
        </div>
    </div>
    <div class="two-controls">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>{{ labels.postalCode }}</mat-label>
                <input matInput name="{{ namePrefix }}.postalCode" type="text" formControlName="postalCode" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>{{ labels.country }}</mat-label>
                <mat-select formControlName="country">
                    <mat-select-filter [array]="countries" [displayMember]="'name'" (filteredReturn)="filteredCountries = $event">
                    </mat-select-filter>
                    <mat-option *ngFor="let country of filteredCountries" [value]="country.id">
                        {{ country.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>