<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="wwwroot-static" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add negate="true" input="{REQUEST_FILENAME}" pattern="index.js" />
          </conditions>
          <action type="Rewrite" url="dist/draw-b4/browser/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="404"/>
      <error statusCode="404" path="dist\draw-b4\browser\index.html" />
    </httpErrors>
  </system.webServer>
</configuration>