<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="api" stopProcessing="true">
            <match url="api/.*" ignoreCase="true" />
            <action type="None" />
        </rule>
        <rule name="Force HTTPS" stopProcessing="true">
           <match url="(.*)" />
            <conditions>
             <add input="{HTTPS}" pattern="off" />
            </conditions>
           <action type="Redirect" url="https://ux-stencil.net/{R:1}" appendQueryString="true" redirectType="Permanent" />
		    </rule>
        <rule name="ssr-pages" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="compile=true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
        <rule name="asserts" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="\." />
          </conditions>
          <action type="Rewrite" url="dist/ux-stencil/browser/{R:0}" />
        </rule>
        <rule name="wwwroot-static" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="dist/ux-stencil/browser/{R:0}/index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="404"/>
      <error statusCode="404" path="dist\ux-stencil\browser\index.html" />
    </httpErrors>
  </system.webServer>
</configuration>