<div>
    <my-top-block-widget [contacts]="contacts"></my-top-block-widget>
</div>
<div id="{{ LandingMenu.Advantages }}">
    <my-features-widget></my-features-widget>
</div>
<div id='{{ LandingMenu.Product }}'>
    <my-about-widget [contacts]="contacts"></my-about-widget>
</div>
<div id="{{ LandingMenu.UxJams }}">
    <my-ux-jams-widget [contacts]="contacts"></my-ux-jams-widget>
</div>
<div id="order-block">
    <my-order-widget></my-order-widget>
</div>
<div id="footer-block">
    <my-footer-widget [contacts]="contacts"></my-footer-widget>
</div>