<div id="top-block" class="container background-container">
    <div class="background">
        <img src="assets/images/landing/main-background.png" />
    </div>
    <div id="menu-selector">
        <div>
            <i class="icon-menu-container">
                <div class="dash-group vertical">
                    <div class="dash"></div>
                    <div class="dash"></div>
                    <div class="dash"></div>
                </div>
            </i>
        </div>
    </div>
    <div id="made-in">
        <div>
            Made in Belarus
        </div>
    </div>
    <div id="main-photo">
        <div id="main-photo-bounds">
            <div id="top-circle">
                <div>
                    <i class="icon-plug"></i>
                </div>
            </div>
            <div style="position: relative; padding: 33.5%; margin-bottom: 67%;">
                <div style="position: absolute; top: 0; left: 0; width: 100%; height: 200%; background-image: url(assets/images/landing/main-photo.png); background-size: 100%; background-repeat: no-repeat;">
                    <div id="photo-selector">
                        <i id="photo-selector-icon" class="icon-photo-selector">
                            <div class="dot-group vertical">
                                <div class="dot"></div>
                                <div class="dot empty"></div>
                                <div class="dot empty"></div>
                                <div class="dot empty"></div>
                            </div>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="summary">
        <div id="icon-sketching-ad">
            <h1>
                Sketching&nbsp;
                <br />
                made
                <br />
                Fast, Fun
                <br />
                and <span class="swag">Easy<span class="swag-background"></span></span>
            </h1>
        </div>
        <section id="summary-text">
            <div>
                Planning mobile products is not always
                digital: sometimes you may need pencil, paper and a handy stencil to speed up
                your creative process.
            </div>
        </section>
        <section id="actions-panel">
            <button class="button primary"> Order a stencil </button>
            <button class="button"></button>
        </section>
    </div>
</div>