@import "../../../mixins.scss";

$dotColor: #333333;
$swagBackground: #c9f3f5;

@mixin dynamicSize($minSize, $maxSize) {
    $growth: ($maxSize - $minSize) / (1400 - 350);
    $base: $minSize - 350 * $growth;

    font-size: calc(#{$base}px + #{$growth * 100}vmin);
    @include phones-portrait {
        font-size: calc(#{$base}px + #{$growth * 100}vmin);
    }
}

section {
    @include phones-portrait {
        padding-left: 30px;
        padding-right: 30px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-family: Arvo;
    @include dynamicSize(40, 60);
    font-weight: 700;
    letter-spacing: 0px;
}

.button {
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border-radius: 100px;
    border: solid 1px $dotColor;
    background-color: white;
    font-weight: 700;

    &.primary {
        background-color: $dotColor;
        color: white;
    }
}

.swag {
    position: relative;

    .swag-background {
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $swagBackground;
        width: 100%;
        height: 75%;
        z-index: -1;
    }
}

.container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.background-container {
    position: relative;

    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column;
        overflow: hidden;

        img {
            min-width: 100%;
        }
    }
}

.fit-mobile-page {
    @include phones-portrait {
        width: 100% !important;
    }
}

.dot {
    border-radius: 50%;
    border: 1px solid $dotColor;
    background-color: $dotColor;

    &.empty {
        background-color: transparent;
    }
}

.dot-group {
    display: flex;
    justify-content: space-between;
    &.vertical {
        flex-flow: column;
    }
}

.dash {
    background-color: white;
    padding: 10%;
    width: 100%;
    border-radius: 10%/50%;
}

.dash-group {
    display: flex;
    justify-content: space-between;
    &.vertical {
        flex-flow: column;
    }
}

$columnMargins: 10px;
.columns {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$columnMargins;
    margin-right: -$columnMargins;
}

.columns-2 {
    > .column {
        padding-left: $columnMargins;
        padding-right: $columnMargins;
        flex-grow: 1;
        min-width: 50%;
        @include phones-portrait {
            width: 100%;
        }
    }
}

#top-block {
    position: relative;

    > .background {
        opacity: 0.1;
        min-width: 100%;
        z-index: -1;

        @include phones-portrait {
            img {
                max-height: 100%;
            }
        }
    }

    #main-photo {
        width: 50%;

        @include phones-portrait {
            width: 67%;
        }

        #main-photo-bounds {
            position: relative;
            width: 90%;
            @include desktop-or-landscape {
                max-width: 67vh;
            }

            #top-circle {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;

                > div {
                    margin-left: 50%;
                }

                i {
                    @include dynamicSize(40, 157);
                }
            }

            #photo-selector {
                position: absolute;
                left: 0;
                bottom: 0;

                #photo-selector-icon {
                    @include dynamicSize(56, 157);

                    position: relative;
                    > .dot-group {
                        top: 25%;
                        height: 50%;
                        bottom: 25%;
                        position: absolute;
                        left: 35%;

                        .dot {
                            width: 0.07em;
                            height: 0.07em;
                        }
                    }
                }
            }
        }
    }

    #menu-selector {
        position: absolute;
        right: 1em;
        top: 0;

        i {
            @include dynamicSize(60, 157);

            position: relative;
            > .dash-group {
                top: 30%;
                bottom: 50%;
                position: absolute;
                left: 42.5%;
                width: 15%;
            }
        }
    }

    #made-in {
        position: absolute;
        top: 40%;
        right: 0;
        font-size: 16px;

        > div {
            margin-right: -50%;
            text-transform: capitalize;
            transform: rotate(90deg);
        }
    }

    #summary {
        width: 40%;
        margin-top: 10%;

        @include phones-portrait {
            width: 100%;
        }

        #icon-sketching-ad {
            display: flex;
            justify-content: center;

            h1 {
                text-align: right;
            }
        }

        section {
            display: flex;
            align-content: flex-end;

            justify-content: flex-end;

            > div {
                text-align: justify;
                width: 70%;
                @include phones-portrait {
                    width: 100%;
                }
            }

            .summary-element {
                margin-top: 30px;
            }
        }

        #summary-text {
            word-spacing: 2px;
            line-height: 20px;
            @include dynamicSize(13, 16);
        }

        #actions-panel {
            > div {
                width: 90%;
                margin-right: -20%;
                @include phones-portrait {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
}
