.mat-menu-content {
    background-color: $menuColor !important;
    a {
        color: white;
    }
}

.top-block {
    position: relative;

    > .background {
        min-width: 100%;
        z-index: -1;

        img {
            max-width: 200%;
            opacity: 0.1;
        }

        @include phones-portrait {
            img {
                max-height: 100%;
            }
        }

        #made-in {
            position: absolute;
            top: 40%;
            right: 0;
            font-size: 14px;

            > div {
                margin-right: -75%;
                margin-top: 20%;
                letter-spacing: 0.1em;
                font-weight: 400;
                text-transform: uppercase;
                transform: rotate(90deg);
            }
        }
    }

    #main-photo {
        width: 50%;

        @include phones-portrait {
            width: 67%;
        }

        #main-photo-bounds {
            position: relative;
            width: 90%;
            @include desktop-or-landscape {
                max-width: 67vh;
            }

            #top-circle {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;

                > div {
                    margin-left: 50%;
                }

                i {
                    @include dynamicSize(40, 157);
                }
            }

            #photo-selector {
                position: absolute;
                left: 0;
                bottom: 0;

                #photo-selector-icon {
                    @include dynamicSize(56, 157);

                    position: relative;
                    > .dot-group {
                        top: 25%;
                        height: 50%;
                        bottom: 25%;
                        position: absolute;
                        left: 35%;

                        .dot {
                            font-size: 0.1em;
                        }
                    }
                }
            }
        }
    }

    .menu-selector {
        position: absolute;
        right: 1em;
        top: 0;

        &.is-opened {
            background-color: $menuColor;
        }

        i {
            @include dynamicSize(60, 157);
            color: $menuColor;

            position: relative;
            > .dash-group {
                top: 30%;
                bottom: 50%;
                position: absolute;
                left: 42.5%;
                width: 15%;
            }
        }

        .dash {
            display: flex;
            i {
                color: white;
                font-size: 0.035em;
            }
        }
    }

    #summary {
        width: 40%;
        margin-top: 10%;

        @include phones-portrait {
            width: 100%;
        }

        #icon-sketching-ad {
            display: flex;
            justify-content: center;

            h1 {
                text-align: right;
            }
        }

        section {
            display: flex;
            align-content: flex-end;

            justify-content: flex-end;

            > div {
                text-align: justify;
                width: 70%;
                @include phones-portrait {
                    width: 100%;
                }
            }
        }

        #summary-text {
            word-spacing: 2px;
            line-height: 20px;
            @include dynamicSize(13, 16);

            .summary-element {
                margin-top: 30px;
            }
        }

        #actions-panel {
            margin-top: 15px;
            .summary-element {
                margin-top: 15px;
            }
            > div {
                width: 90%;
                margin-right: -20%;
                @include phones-portrait {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }

        #contacts-panel {
            > div {
                width: 80%;
                margin-right: -20%;
                @include phones-portrait {
                    width: 100%;
                    margin-right: 0;
                }
            }

            #right-circle {
                font-size: 110px;
                position: absolute;
                right: 0;
                bottom: 0;
                overflow: hidden;
                > div {
                    margin-right: -80px;
                }
            }
        }
    }
}
