$height: 24px;

.numeric-container {
    display: inline-block;
    position: relative;

    .minus, .plus{
        position: absolute;
        font-size: $height;
        line-height: $height;
        height: $height;
        color: $appGray;
        cursor: pointer;
    }

    .minus {
        left: 0;
        padding-left: 0.4em;
    }

    .plus{
        right: 0;
        padding-right: 0.4em;
    }

    input {
        border: 2px solid $gridBorderColor;
        outline: none;
        border-radius: 10px;
        text-align: center;
        width: 90px;
        height: $height;
    }
}
