$appBlack: #333333;
$dotColor: $appBlack;
$activeColor: $appBlack; 
$appAzure: #60CFD8;

$appGray: #9FA3A7;
$swagBackground: #c9f3f5;
$linkColor: #B4B4B4;
$menuColor: $appAzure;

$shareIconContainer: $appAzure;
$calendarIconContainer: $swagBackground;

$orderBackground: #3C3C3C;
$orderSwagBackground: #626262;
