.shipping-component {
    .items-summary {
        @include dynamicSize(14, 18);

        .right {
            text-align: right;
        }
    }

    form {
        .form-block {
            border-bottom: 1px solid $gridBorderColor;
            padding-bottom: 20px;
            margin-bottom: 20px;

            &.last {
                border-bottom: none;
            }
        }

        .mat-form-field {
            width: 100%;
        }
    }
}
