@import '../../variables.scss';

.button {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border-radius: 100px;
    border: solid 1px $activeColor;
    background-color: white;
    font-family: "Montserrat";
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &.primary {
        background-color: $activeColor;
        color: white;
    }
}