@font-face {
  font-family: 'draw-b4';
  src:  url('~/assets/fonts/draw-b4.eot?7o6ldf');
  src:  url('~/assets/fonts/draw-b4.eot?7o6ldf#iefix') format('embedded-opentype'),
    url('~/assets/fonts/draw-b4.ttf?7o6ldf') format('truetype'),
    url('~/assets/fonts/draw-b4.woff?7o6ldf') format('woff'),
    url('~/assets/fonts/draw-b4.svg?7o6ldf#draw-b4') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'draw-b4' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-export-to-figma .path1:before {
  content: "\e903";
  color: rgb(51, 51, 51);
}
.icon-export-to-figma .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-export-to-figma .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-export-to-figma .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-export-to-figma .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-export-to-figma .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(96, 207, 216);
}
.icon-export-to-figma .path7:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-export-to-figma .path8:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-export-to-figma .path9:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(82, 89, 103);
}
.icon-export-to-figma .path10:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(69, 75, 87);
}
.icon-export-to-figma .path11:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(10, 207, 131);
}
.icon-export-to-figma .path12:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(162, 89, 255);
}
.icon-export-to-figma .path13:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(242, 78, 30);
}
.icon-export-to-figma .path14:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 114, 98);
}
.icon-export-to-figma .path15:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(26, 188, 254);
}
.icon-make-note .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-make-note .path2:before {
  content: "\e90d";
  margin-left: -1.009765625em;
  color: rgb(96, 207, 216);
}
.icon-make-note .path3:before {
  content: "\e90e";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-make-note .path4:before {
  content: "\e90f";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-make-note .path5:before {
  content: "\e910";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-make-note .path6:before {
  content: "\e911";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path1:before {
  content: "\e912";
  color: rgb(96, 207, 216);
}
.icon-launch-rocket .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-launch-rocket .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path1:before {
  content: "\e91c";
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path2:before {
  content: "\e91d";
  margin-left: -1.009765625em;
  color: rgb(255, 255, 255);
}
.icon-generate-idea .path3:before {
  content: "\e91e";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path4:before {
  content: "\e91f";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path5:before {
  content: "\e920";
  margin-left: -1.009765625em;
  color: rgb(255, 255, 255);
}
.icon-generate-idea .path6:before {
  content: "\e921";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path7:before {
  content: "\e922";
  margin-left: -1.009765625em;
  color: rgb(122, 79, 184);
}
.icon-generate-idea .path8:before {
  content: "\e923";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path9:before {
  content: "\e924";
  margin-left: -1.009765625em;
  color: rgb(122, 79, 184);
}
.icon-generate-idea .path10:before {
  content: "\e925";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path11:before {
  content: "\e926";
  margin-left: -1.009765625em;
  color: rgb(122, 79, 184);
}
.icon-generate-idea .path12:before {
  content: "\e927";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path13:before {
  content: "\e928";
  margin-left: -1.009765625em;
  color: rgb(122, 79, 184);
}
.icon-generate-idea .path14:before {
  content: "\e929";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path15:before {
  content: "\e92a";
  margin-left: -1.009765625em;
  color: rgb(122, 79, 184);
}
.icon-generate-idea .path16:before {
  content: "\e92b";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path17:before {
  content: "\e92c";
  margin-left: -1.009765625em;
  color: rgb(122, 79, 184);
}
.icon-generate-idea .path18:before {
  content: "\e92d";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path19:before {
  content: "\e92e";
  margin-left: -1.009765625em;
  color: rgb(122, 79, 184);
}
.icon-generate-idea .path20:before {
  content: "\e92f";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path21:before {
  content: "\e930";
  margin-left: -1.009765625em;
  color: rgb(96, 207, 216);
}
.icon-generate-idea .path22:before {
  content: "\e931";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path23:before {
  content: "\e932";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path24:before {
  content: "\e933";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path25:before {
  content: "\e934";
  margin-left: -1.009765625em;
  color: rgb(122, 79, 184);
}
.icon-generate-idea .path26:before {
  content: "\e935";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-generate-idea .path27:before {
  content: "\e936";
  margin-left: -1.009765625em;
  color: rgb(51, 51, 51);
}
.icon-track:before {
  content: "\e937";
}
.icon-share:before {
  content: "\e938";
}
.icon-calendar:before {
  content: "\e939";
}
.icon-empty-thin-circle:before {
  content: "\e947";
}
.icon-empty-circle:before {
  content: "\e93a";
}
.icon-circle:before {
  content: "\e93b";
}
.icon-arrow-edge:before {
  content: "\e93c";
}
.icon-arrow:before {
  content: "\e93d";
}
.icon-google:before {
  content: "\e904";
}
.icon-telegram:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-plug:before {
  content: "\e900";
}
.icon-photo-selector:before {
  content: "\e901";
  color: #60cfd8;
}
.icon-menu-container:before {
  content: "\e902";
  color: #60cfd8;
}
.icon-dash:before {
  content: "\e948";
}
