@import "../../mixins.scss";
@import "../../variables.scss";

.photo-slider {
    position: relative;

    img {
        max-width: 100%;
        width: 100%;
    }

    .slider-controls {
        @include dynamicSize(11, 22);

        height: 3em;
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 100%;
        justify-content: space-between;

        &.bottom {
            top: initial;
            bottom: 0;
        }

        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 3em;
            height: 100%;

            &.left {
                transform: rotate(180deg);
                color: $appBlack;
                background: white;
            }

            &.right {
                color: white;
                background: $appBlack;
            }
        }
    }
}
