@mixin alwaysHorizontal {
    justify-content: space-between;
    align-items: center;
    flex-flow: row;

    .menu-item {
        padding-left: 0;
        text-align: center;
    }
}

.menu-component {
    display: flex;
    line-height: 3em;
    flex-flow: column;
    align-items: flex-start;

    &.always-horizontal {
        @include alwaysHorizontal;
    }

    &.horizontal {
        @include desktop-or-landscape {
            @include alwaysHorizontal;
        }
    }

    .menu-item {
        white-space: nowrap;
        padding-right: 1em;
        padding-left: 1em;
    }
}
