@import "../variables.scss";

.dot-group {
    display: flex;
    justify-content: space-between;
    &.vertical {
        flex-flow: column;
    }

    .dot-group {
        .dot {
            color: $dotColor;
        }
    }
}

.dash-group {
    display: flex;
    justify-content: space-between;
    &.vertical {
        flex-flow: column;
    }
}

.vertical-dots {
    width: 45px;
    height: 75px;
    font-size: 5px;
    margin-top: 30px;
    margin-bottom: 30px;

    .dot {
        transform: scale(0.8, 1.35);
    }
}

.horizontal-dots {
    flex-grow: 4;
    height: 60px;
    max-width: 120px;

    font-size: 7px;

    &.small {
        font-size: 5px;

        .dot {
            transform: scale(1.35, 0.8);
        }
    }
}
