@import "../variables.scss";

.swag {
    position: relative;
    z-index: 10;

    .swag-background {
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $swagBackground;
        width: 100%;
        height: 75%;
        z-index: -1;

        &.over-text {
            top: 0;
            height: 100%;
        }
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: black;
}

.bold {
    font-weight: 700;
}

.description {
    color: $appGray;
}

.active {
    color: black;
}

a {
    text-decoration: none;
    color: $linkColor;
}
