<div class="top-block container background-container">
    <div class="menu-selector" [matMenuTriggerFor]="menu" (menuOpened)="onMenuOpened(true)" (menuClosed)="onMenuOpened(false)" [class.is-opened]="isMenuOpened">
        <div>
            <i [class.icon-menu-container]="!isMenuOpened">
                <div class="dash-group vertical">
                    <my-repeater rows="3" rowClass="dash">
                        <ng-template #item>
                            <i class="icon-dash"></i>
                        </ng-template>
                    </my-repeater>
                </div>
            </i>
        </div>
    </div>
    <mat-menu #menu="matMenu">
        <div class="menu-wrapper">
            <my-menu></my-menu>
        </div>
    </mat-menu>
    <div id="main-photo">
        <div id="main-photo-bounds">
            <div id="top-circle">
                <div>
                    <i class="icon-plug"></i>
                </div>
            </div>
            <div style="position: relative; padding: 33.5%; margin-bottom: 67%;">
                <div style="position: absolute; top: 0; left: 0; width: 100%; height: 200%;">
                    <my-photo-slider [photos]="images" [controlsBottom]="true">
                        <ng-template #itemTemplate let-image="image">
                            <my-top-image-wrapper [image]="image"></my-top-image-wrapper>
                        </ng-template>
                        <ng-template #itemControlsTemplate let-previous="previous" let-next="next" let-index="index" let-selectIndex="selectIndex">
                            <div id="photo-selector" (click)="next()">
                                <i id="photo-selector-icon" class="icon-photo-selector">
                                    <div class="dot-group vertical">
                                        <my-repeater rows="4" rowClass="dot">
                                            <ng-template #item let-row="row" let-col="col">
                                                <i [class.icon-circle]="row === index" [class.icon-empty-circle]="row !== index"></i>
                                            </ng-template>
                                        </my-repeater>
                                    </div>
                                </i>
                            </div>
                        </ng-template>
                    </my-photo-slider>

                </div>
            </div>
        </div>
    </div>
    <div class="background">
        <img [src]="background.url" [alt]="background.description" />

        <div id="made-in">
            <div>
                Made in Belarus
            </div>
        </div>
    </div>
    <div id="summary">
        <div id="icon-sketching-ad">
            <h1>
                Sketching&nbsp;
                <br />
                made
                <br />
                Fast, Fun
                <br />
                and <span class="swag">Easy<span class="swag-background"></span></span>
            </h1>
        </div>
        <section id="summary-text">
            <div class="summary-element">
                Planning mobile products is not always
                digital: sometimes you may need pencil, paper and <b class="bold">a handy stencil</b> to speed up
                your creative process.
            </div>
        </section>
        <section id="actions-panel">
            <div>
                <div class="columns columns-2">
                    <div class="column summary-element">
                        <button class="button primary" (click)="orderStencil()">
                            Order a stencil
                        </button>
                    </div>
                    <div class="column summary-element">
                        <button class="button" (click)="learnMore()">Learn More <i class="icon-arrow-edge"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <section id="contacts-panel">
            <div>
                <div class="summary-element dot-group vertical vertical-dots">
                    <my-repeater cols="3" rows="5" rowClass="dot-group">
                        <ng-template #item>
                            <i class="dot icon-circle"></i>
                        </ng-template>
                    </my-repeater>
                </div>
                <div class="contacts">
                    <div class="contacts-list">
                        <my-contact-link [contact]="contacts.instagram" [contactType]="ContactType.Instagram">
                            <my-circle-icon iconClass="icon-instagram">
                            </my-circle-icon>
                        </my-contact-link>
                        <my-contact-link [contact]="contacts.telegram" [contactType]="ContactType.Telegram">
                            <my-circle-icon iconClass="icon-telegram">
                            </my-circle-icon>
                        </my-contact-link>
                        <my-contact-link [contact]="contacts.mail" [contactType]="ContactType.Mail">
                            <my-circle-icon iconClass="icon-google">
                            </my-circle-icon>
                        </my-contact-link>
                    </div>
                    <div class="dot-group vertical horizontal-dots">
                        <my-repeater cols="6" rows="3" rowClass="dot-group">
                            <ng-template #item>
                                <i class="dot icon-circle"></i>
                            </ng-template>
                        </my-repeater>
                    </div>
                    <div>
                    </div>
                </div>
                <div id="right-circle">
                    <div>
                        <i class="icon-empty-thin-circle"></i>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>