<div class="order-widget">
    <div class="order-stencil">
        <img [src]="orderStencilImage.url" [alt]="orderStencilImage.description" loading="lazy" />
    </div>
    <div id="{{ LandingMenu.Order }}" class="order-form-container">
        <div class="section">
            <h4>
                ‒ Be the First to get It
            </h4>
            <h2>
                How to order a
                <br />
                &nbsp;
                <span class="swag">
                    mobile Stencil?
                    <span class="swag-background"></span>
                </span>
            </h2>
            <p class="description">
                Please fill in this form and we will send you a Payoneer invoice  
            </p>
            <br />
        </div>
        <div class="form-container">
            <div class="column-section">
            </div>
            <div class="frame-column">
                <ng-container *ngIf="inBrowser">
                    <iframe title="Pre order UX Stencil form" class="google-form-frame" loading="lazy" src="https://docs.google.com/forms/d/e/1FAIpQLScAx9zgqjGgukrPsEh6ZwT2nuqHjooIJhK8ns6LS4uAd1RCSg/viewform?embedded=true&hl=en" (load)="formLoaded()" frameborder="0" marginheight="0" marginwidth="0">
                        Loading…
                    </iframe>
                </ng-container>
            </div>
        </div>
    </div>
</div>