@import "../../../mixins.scss";
@import "../../../variables.scss";

.my-features-widget {
    margin-top: 100px;
    padding-top: 100px;

    background-color: white;

    @include phones-portrait {
        padding-top: 0;
    }
}
