@import "../../variables.scss";

my-contact-icon {
    background-color: $activeColor;
    font-size: 17px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    text-decoration: none;
    color: white;
}
